.pagination {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: center;
    
   margin-top: 10%;
   margin-bottom: 5%;
  }
  
  .pagination a {
    
    color: rgb(17,97,146);
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 50px;
  }
  
  .pagination a.active {
    border-radius: 50px;
    border: 4px solid rgb(19, 212, 222);
    color: rgb(19,212,222);
    background-color: rgb(17,97,146);
    
  }