.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-grow:1;
  }

.card{
    display:flex;
    flex-direction: row;
    width: 90%; 
    margin:auto;
    margin-top: 5%;
   
    background-color:  rgb(235,235,235);
}

.cardimage{
    display:flex;
}

.cardcontent{
    
}

#titulo{    
    color: rgb(11, 235, 247);
    font-family: 'Abel';
    padding-left: 9%;
   
    
}

.titulo{
    line-height: 400%;
    display: block;
   
}

.pontuacao{

        border-radius: 50px;
        border-color: rgb(11, 235, 247);
        color:  rgb(11, 235, 247);
        background-color: rgb(17,97,146);
}

.box{
    width: 70px;
    height: 70px;
    background-color: rgb(17,97,146);
    color: rgb(11, 235, 247);
	border-radius: 50%;
	border: 4px solid rgb(11, 235, 247);
    line-height: 70px;
    font-size: 28px;
    display: -webkit-flex;
    display: -ms-flexbox;
           display: flex;
   -webkit-align-items: center;
     -webkit-box-align: center;
    -ms-flex-align: center;
     align-items: center;
    justify-content: center;
    position: relative;
    margin-top:-60px;
    z-index:4;
    margin-left: 15px;
   
}

#data{
    position: relative;
    margin-top:-52px;
    z-index:4;
    padding-left: 9%;
}

#tags{
    width: 42px;
    height: 25px;
    background-color: rgb(255, 255, 255);
    color: rgb(17,97,146);
	border-radius: 38%;
	border: 1px solid rgb(17,97,146);
    line-height: 30px;
   font-size: 15px;
   font-family: 'Abel';
   margin-bottom: 10px;
   margin-top:10px;
    display: -webkit-flex;
    display: -ms-flexbox;
           display: flex;
   -webkit-align-items: center;
     -webkit-box-align: center;
    -ms-flex-align: center;
     align-items: center;
    justify-content: center;
    list-style-type: none;
 
}

#description{
    font-family: 'Lato';
    color:rgb(54, 54, 54);
}

h1{
    background-color: rgb(17,97,146);
    
}

h2{
   
    color: rgb(11, 235, 247);
    font-family: 'Abel';
}
h3{
    color:  rgb(135, 151, 165);
    font-family: 'Lato';
}